<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2" />
    </startup>

  <system.diagnostics>

    <sources>

      <source name="System.Net">
        <listeners>
          <add name="System.Net"/>
        </listeners>
      </source>

      <source name="System.Net.Sockets">
        <listeners>
          <add name="System.Net"/>
        </listeners>
      </source>

      <source name="System.Net.Cache">
        <listeners>
          <add name="System.Net"/>
        </listeners>
      </source>

      <source name="System.Net.Http">
        <listeners>
          <add name="System.Net"/>
        </listeners>
      </source>

      <source name="System.Net.WebSockets">
        <listeners>
          <add name="System.Net"/>
        </listeners>
      </source>


      <source name="ISG.Suppliers.OpenProvider">
        <listeners>
          <add name="ISG.Suppliers.OpenProvider"/>
        </listeners>
      </source>

    </sources>

    <switches>
      <add name="System.Net" value="Error"/>
      <add name="System.Net.Sockets" value="Error"/>
      <add name="System.Net.Cache" value="Error"/>
      <add name="System.Net.HTTP" value="Error"/>
      <add name="System.Net.WebSockets" value="Error"/>
      <add name="EppLib" value="Verbose"/>
    </switches>

    <sharedListeners>
      <add name="System.Net" type="System.Diagnostics.TextWriterTraceListener" initializeData="network.log"/>
    </sharedListeners>

    <trace autoflush="true"/>

  </system.diagnostics>

</configuration>